---
authors:
  - alex-inman
#categories: ["one", "two"]
#date: 2020-03-03 02:02:02
#hero_classes: "background-color--main-dark color--white"
menus:
#  copyright: 1
#  footer: 4
  main: 4
#  utility: 1
meta:
  description: "An agency that delivers the promise of agile with Drupal, for less."
#  image:
#    alt: "About so1ve" # It's okay for this to be empty if the image is decorative
#    src: 1200x630/share_about-so1ve.png
#  robots: "index,follow"
#  title: "Overrides the tab title and social titles"
permalink: /about/
#published: true
redirect_from:
  - /why-choose-us
  - /gallery
#schema:
#  type: "Thing"
#sections:
#sitemap: true
#tags: ["three", "four"]
title: "About"
---

<section class="layout--stripe background-color--white">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Why choose Equinox Residential?"
      classes="text-align--center"
      level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    {% include atoms/heading.html
      children="Passion"
      classes="font-family--secondary"
      level="3"
    %}

    <p>
      Equinox Residential was created with the vision of applying years of experience
      as a remodeler to help clients achieve the asthetic and comfort that they
      have always wanted in their home.
    </p>

    {% include atoms/heading.html
      children="Commitment"
      classes="font-family--secondary"
      level="3"
    %}

    <p>
      We work with you to set and exceed your expectations and treat every project
      as if it were our own home.
    </p>
  </div>
</section>

{% include organisms/section.html
  mode="ref"
  slug="gallery"
%}

<section class="layout--strip background-color--main-light color--main-dark text-align--center">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Early call to action"
      classes="a11y--visually-hidden"
      level="2"
    %}

    <p>
      <strong>Let's fast-track this</strong> Call/text Alex at <a href="tel:+19708182785">(970) 818-2785</a> or email
      <a href="mailto:alex@equinoxresidential.com">alex@equinoxresidential.com</a>
    </p>
  </div>
</section>
