---
authors:
  - alex-inman
#categories: ["one", "two"]
#date: 2020-03-03 02:02:02
#hero_classes: "background-color--main-dark color--white"
menus:
#  copyright: 1
#  footer: 4
  main: 4
#  utility: 1
meta:
  description: "An agency that delivers the promise of agile with Drupal, for less."
#  image:
#    alt: "About so1ve" # It's okay for this to be empty if the image is decorative
#    src: 1200x630/share_about-so1ve.png
#  robots: "index,follow"
#  title: "Overrides the tab title and social titles"
permalink: /about/
#published: true
redirect_from:
  - /why-choose-us
  - /gallery
#schema:
#  type: "Thing"
sections:
  - contact
#sitemap: true
#tags: ["three", "four"]
title: "About"
---

<section class="layout--stripe background-color--white">
  <div class="layout--stripe--inner">

   {% include atoms/heading.html
      children="General Contractor"
      classes="font-family--secondary"
      level="3"
    %}

    <p>
      Alex founded Equinox Residential in 2020 after nearly a decade of being a project manager and having a Master's Degree in Construction Management. 
      He's a primary point of contact on all projects and treats your home as his own. 
    </p>

    {% include atoms/heading.html
      children="Price, Schedule, and Quality"
      classes="font-family--secondary"
      level="3"
    %}

    <p>
      Equinox Residential was formed to provide clients with a premium experience that optimizes the price, schedule and quality of the project. 
      Setting a foundation based in honest conversations about practical solutions, we're able to make your dream space come alive. 
    </p>

    {% include atoms/heading.html
      children="Commitment and Honesty"
      classes="font-family--secondary"
      level="3"
    %}

    <p>
      You will have a trusted partner that will be with you throughout your project and who sets to exceed your expectations. 
      Honesty is a pilar of the company, both by providing clients with a premium product but also to helping those that have
      fallen victim to predatory or negligent contractors by providing expert witness testimony. 
    </p>
  </div>
</section>

{% include organisms/section.html
  mode="ref"
  slug="gallery"
%}

<section class="layout--strip background-color--white color--main-dark text-align--center">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Early call to action"
      classes="a11y--visually-hidden"
      level="2"
    %}

    <p>
      <strong>Ready to get started?</strong> Call us at <a href="tel:+19708182785">(970) 818-2785</a> or email
      <a href="mailto:alex@equinoxresidential.com">alex@equinoxresidential.com</a>
    </p>
  </div>
</section>
