---
authors:
  - alex-inman
#categories: ["one", "two"]
#date: 2020-03-03 02:02:02
front: true
#hero_classes: "background-color--main-dark color--white"
menus:
#  copyright: 1
#  footer: 1
  main: 1
#  utility: 1
meta:
  description: "Equinox Residential is here to make sure you can rest easy in a home that is comfortable and beautiful. We are a full-service remodeling company based in Fort Collins, Colorado that can tackle projects of any size and complexity."
#  image:
#    alt: "Default social image"
#    src: required/meta-image--default.jpg
#  robots: "index,follow"
  title: "Full-service remodeling in Fort Collins, Colorado"
#permalink: /index.html
#published: true
redirect_from:
  - /diy-consultation
  - /home
  - /remodeling
  - /renovation-rescue
#schema:
#  type: "Thing"
sections:
  - cta
  - contact
#sitemap: true
#tags: ["three", "four"]
title: "Home"
---

<section class="layout--stripe background-color--main-light background-image--hero-home background-size--cover
  color--main-dark text-align--center background-image-display-mobile--hide" id="home">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Remodeling Fort Collins"
      classes=""
      level="1"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="display--flex layout--row justify-content--center">
      <aside class="display--flex flex-direction--column justify-content--center">
        <p class="font-size--2em">
          Renovating Northern Colorado one home at a time.
        </p>
      </aside>
    </div>
  </div>
</section>

<section class="layout--strip background-color--main-light color--main-dark text-align--center">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Early call to action"
      classes="a11y--visually-hidden"
      level="2"
    %}

    <p>
      <strong>Let's fast-track this</strong> Call/text Alex at <a href="tel:+19708182785">(970) 818-2785</a> or email
      <a href="mailto:alex@equinoxresidential.com">alex@equinoxresidential.com</a>
    </p>
  </div>
</section>

<section class="layout--stripe text-align--center">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="We can help right where you are"
      classes="color--main-dark"
      level="2"
    %}

    <div class="display--flex layout--row justify-content--center">
      <aside class="flex--1 display--flex flex-direction--column justify-content--flex-start text-align--left padding-horizontal--8-
        padding-horizontal--collapse">
        {% include atoms/spacer.html size="1" %}

        {% include atoms/heading.html
          children="We can help"
          classes="heading--h4 color--main"
          level="3"
        %}

        <ul>
          <li>Kitchen renovation</li>
          <li>Bathroom renovation</li>
          <li>Remodels and additions</li>
          <li>Paint, trim, tile, flooring</li>
        </ul>
      </aside>

      <aside class="flex--1 display--flex flex-direction--column justify-content--flex-start text-align--left padding-horizontal--8
        padding-horizontal--collapse">
        {% include atoms/spacer.html size="1" %}

        {% include atoms/heading.html
          children="Right where you are"
          classes="heading--h4 color--second"
          level="3"
        %}

        <ul>
          <li>Fort Collins</li>
          <li>Loveland</li>
          <li>Windsor</li>
          <li>I-25 corridor in Colorado</li>
        </ul>
      </aside>
    </div>

    {% include atoms/spacer.html size="4" %}

    <p>
      We offer more services in more places, so <a href="{{ site.subpath }}{% link collections/pages/contact.html %}">contact us</a>
      if you're looking for something else.
    </p>

    {% include atoms/spacer.html size="4" %}

    <a class="button cta" href="{{ site.subpath }}{% link collections/pages/about.html %}">Get the details</a>
  </div>
</section>

<section class="layout--stripe text-align--center background-color--grey-light">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Remodels and additions"
      classes="color--main-dark"
      level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="display--flex layout--row flex-direction--row-reverse justify-content--center">
      <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center">
        {% include atoms/image.html
          src="1200x630/eqres-framing.jpg"
          alt="An addition, clearly re-doing the model"
          classes=""
        %}
      </aside>

      <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center
        padding-horizontal--8 padding-horizontal--collapse text-align--left">
        <p>
          Whether remodeling your home or rental property we listen to your wants
          and needs and tailor your project to fit your budget and timeline.
        </p>
        <p>
          The kitchen is the heart of the home and it should be the most functional
          space in your home. Equinox Residential can help you redesign and optimize
          your home, from the kitchen, to the bathrooms, to that unfinished basement
          that you don't like to go into.
        </p>
        <p>
          Maybe you'd like to extend your home a bit and put on an addition or add
          a deck to help take your living space outdoors. We're able to help design
          and build those spaces out.
        </p>
      </aside>
    </div>
  </div>
</section>

<section class="layout--stripe text-align--center">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Renovation rescue"
      classes="color--main-dark"
      level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="display--flex layout--row justify-content--center">
      <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center">
        {% include atoms/image.html
          src="1200x630/eqres-bathroom.jpg"
          alt="A particularly nice bathroom renovation"
          classes=""
        %}
      </aside>

      <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center
        padding-horizontal--8 padding-horizontal--collapse text-align--left">
        <p>
          Did you select the wrong contractor? Are you in over your head on a
          do-it-yourself project?
        </p>
        <p>
          We will identify the mistakes, build the right team for you, and get your
          project back on track. It's time to start sleeping again.
        </p>
        <p>
          Have you had work done that you're not confident in or know that it was
          done incorrectly? Equinox Residential can step in and assess projects
          that have gone awry and work with you to rescue your renovation. No matter
           what stage the project is in, we can provide guidance or take over and
           ensure that it gets completed in a safe, timely, and cost effective manner.
        </p>
      </aside>
    </div>
  </div>
</section>

<section class="layout--stripe text-align--center background-color--grey-light">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="<abbr title='Do it yourself'>DIY</abbr> consultation"
      classes="color--main-dark"
      level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="display--flex layout--row flex-direction--row-reverse justify-content--center">
      <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center">
        {% include atoms/image.html
          src="1200x630/eqres-prep-paint.jpg"
          alt="Prep and paint a room"
          classes=""
        %}
      </aside>

      <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center
        padding-horizontal--8 padding-horizontal--collapse text-align--left">
        <p>
          Thinking you can tackle that bathroom renovation yourself but don't know
          where to start? Or did you bite off more than you can chew?
        </p>
        <p>
          Equinox Residential can help guide you along your DIY adventure, helping
          you set realistic expectations and a budget and making sure you're accounting
          for all the little details.
        </p>
      </aside>
    </div>
  </div>
</section>

<section class="layout--stripe background-color--main background-image--blueprint
  background-size--cover color--white"
>
  <div class="layout--stripe--inner padding-horizontal--4 padding-vertical--4
    background-color--main-dark--transparent box-shadow--default"
  >
    {% include atoms/heading.html
      children="From our customers"
      classes="text-align--center"
      level="2"
    %}

    {% include atoms/heading.html
      children="Becky and Bryan say we're <em>life-savers</em>"
      classes=""
      level="3"
    %}

    <blockquote class="blockquote--opening-include">
      <p>
        Thank you for rescuing us from a devastating situation. You did a fabulous
        job and we appreciate your hard work and compassion.
      </p>
    </blockquote>

    {% include atoms/heading.html
      children="Jennifer and Jay like our <em>professionalism</em>"
      classes=""
      level="3"
    %}

    <blockquote class="blockquote--opening-include">
      <p>
        Alex was available via text, email or phone, usually starting at 6 am. He
        made good suggestions along the way and he never, never gave me the impression
        that one of my concerns was petty-- and some of them seemed petty to me
        at the time, but his professionalism was superb.
      </p>
    </blockquote>

    {% include atoms/heading.html
      children="Chris appreciates that we're <em>organized</em>"
      classes=""
      level="3"
    %}

    <blockquote class="blockquote--opening-include">
      <p>
        He was excellent at coordinating the myriad aspects of the project and at
        keeping everything on track. He possesses a good balance of creativity and
        practicality. He always brings a cheerful and positive attitude to every day.
      </p>
    </blockquote>
  </div>
</section>
