---
#action: "https://formsubmit.co/alex@equinoxresidential.com"
actions_classes: "display--flex justify-content--center"
authors:
  - alex-inman
#categories: ["one", "two"]
classes: ""
#date: 2020-03-03 02:02:02
excerpt: "Contact Form"
#published: true
submit: "Send"
#tags: ["three", "four"]
thank_you: false # "https://www.google.com/"
title: "Contact Form"
title_classes: "a11y--visually-hidden"
---

<fieldset name="message">
  <legend>Shoot us a message</legend>

  {% include forms/form--input.html
    classes=""
    description=false
    label="Name"
    name="fullname"
    required=false
    type="text"
  %}

  {% include forms/form--input.html
    classes=""
    description=false
    label="Email"
    name="email"
    required=true
    type="email"
  %}

  {% include forms/form--input.html
    classes=""
    description=false
    label="Phone number"
    name="phone"
    required=true
    type="text"
  %}

  {% include forms/form--input.html
    classes=""
    description=false
    label="Street address"
    name="address"
    required=true
    type="text"
  %}

  {% include forms/form--textarea.html
    classes=""
    description=false
    label="Tell us about your project"
    name="message"
    required=true
    rows="4"
  %}

  {% include forms/form--input.html
    classes=""
    description=false
    label="When would you like to start your project?"
    name="start_date"
    required=true
    type="date"
  %}
</fieldset>
