---
authors:
  - alex-inman
#categories: ["one", "two"]
classes: "text-align--center"
#date: 2020-03-03 02:02:02
#published: true
#tags: ["three", "four"]
title: "Your construction partner"
title_classes: ""
---

<div class="layout--row display--flex">
  <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center">
    {% include atoms/image.html
      src="1200x630/alex-inman.jpg"
      alt="Alex Inman is the face you will see at your consultation"
      classes=""
      link_url="/about/"
    %}
  </aside>
  <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center
    padding-horizontal--4 padding-horizontal--collapse text-align--left">
    <p>
      <strong>Equinox Residential</strong> is here to make sure you can rest easy
      in a home that is comfortable and beautiful.  We’re a full-service remodeling
      company based in Fort Collins, Colorado that can tackle projects of any size
      and complexity.
    </p>

    <p>
      From kitchen and bathroom renovations to full structural remodels and additions,
      we've got your covered.
    </p>
  </aside>
</div>

{% include atoms/spacer.html size="4" %}

<a class="button cta" href="{{ site.subpath }}{% link collections/pages/about.html %}">
  Learn more <span class="a11y--visually-hidden">about Equinox Residential</span>
</a>
